version: "3.9"
services:
  search_server:
    image: pqai
    stdin_open: true
    tty: true
    restart: always
    network_mode: host
    volumes:
      - ${MODELS_DIR}:/app/models
      - ${INDEXES_DIR}:/app/indexes
      - ${TOKENS_FILE}:/app/tokens.txt
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      PQAI_S3_BUCKET_NAME: ${PQAI_S3_BUCKET_NAME}
      API_PORT: ${API_PORT}
      SENTRY_URL: ${SENTRY_URL}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_HOST: ${MONGO_HOST}
      MONGO_DBNAME: ${MONGO_DBNAME}
      MONGO_PAT_COLL: ${MONGO_PAT_COLL}
      MONGO_NPL_COLL: ${MONGO_NPL_COLL}
      SMART_INDEX_SELECTION: ${SMART_INDEX_SELECTION}
      USE_RERANKER: ${USE_RERANKER}
      DISABLE_GPU: ${DISABLE_GPU}
      OUTGOING_EXT: ${OUTGOING_EXT}
      INCOMING_EXT: ${INCOMING_EXT}
      USE_FAISS_INDEXES: ${USE_FAISS_INDEXES}
      USE_ANNOY_INDEXES: ${USE_ANNOY_INDEXES}

