<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h3>Motivation for PQAI</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus mollitia suscipit doloribus pariatur, ex a! Possimus ut tempora delectus facere mollitia aliquam, assumenda, provident dolor hic distinctio nisi consectetur aliquid?</p>
						<h3>The PQAI solution</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque corrupti dolorem, officia! Aperiam aut similique ad nemo velit, asperiores et qui ullam laudantium dolores voluptatem nihil culpa hic odio cumque?</p>
						<h3>Benchmarks</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid similique nulla voluptates officiis libero id maiores magni unde qui, recusandae, numquam animi! Optio debitis error voluptatem assumenda fugit minima architecto?</p>
						<h3>For the tinkerers</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit obcaecati optio quos necessitatibus cumque deserunt explicabo nihil libero aut esse neque consectetur, dolor nisi et, earum, aperiam qui. Quia, minima.</p>
						<h3>Stay updated on the progress</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta necessitatibus labore, tempora saepe fugit neque maxime laborum tempore! Ipsum ea ipsam numquam praesentium maxime alias sequi exercitationem nisi deleniti.</p>
						<h3>Reach out to us</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab suscipit delectus tempora at assumenda, rem, voluptatum excepturi dolor veniam non aspernatur optio! Consequatur veniam quibusdam quo quisquam eos sed eum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>