<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
	<style type="text/css">
		form {
			background-color: whitesmoke;
			padding: 12px 20px 5px 20px;
			border: 1px solid #eee;
		}
		h3 {
			margin-top: 2rem;
		}
	</style>
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h3>Why PQAI?</h3>
						<p>Patents are granted when an examiner at the patent office determines that an invention is really new. For this, the examiner tries to find if there are prior mentions of similar inventions. If no mentions are found, the patent is allowed. Many applicants also do similar searches before applying for a patent to know in advance if what they have something really new on their hands. If they find evidence that suggests otherwise, they can avoid filing altogether and save the associated costs.</p>
						<p>It is, however, very difficult to make a reliable novelty assessment, even for examiners. This is because the technical literature is huge but the searching tools we have are not very good. Prior-art searches mostly rely on keyword matching. However, with so much technical literature, no matter which keywords you use, you always get thousands matching documents that are mostly noise and few good results buried deep in that long list.</p>

						<h3>The PQAI solution</h3>
						<p>PQAI aims to solve this problem by building an open-source platform that uses AI techniques to improve the relevancy of prior-art search results.</p>
						<p>We believe that an open-source system would ensure parallel progress along with the rapid advances being made in the field of AI. It would also enable interested parties to make use of the common code base and improve it as per their individual capacities.</p>

						<h3>Who is behind PQAI?</h3>
						<p>The initial push for PQAI came from AT&T and then a number of organizations joined the initiative as <a href="/supporters">supporters</a>. If our vision resonates with you, please consider <a href="/contact">joining PQAI</a> as a supporter.</p>

						<h3>Stay updated</h3>
						<p>PQAI is evolving rapidly. We send out an email about once a month outlining the latest updates. You can receive the email by subscribing:</p>
						
						<!-- Form for subscribing to newsletter -->
						<form class="form-inline">
						  <div class="form-group mr-3 mb-2">
						    <label for="email-input" class="sr-only">Email address</label>
						    <input 	type="text"
						    		class="form-control"
						    		id="newsletter-email-input"
						    		placeholder="Enter your email address">
						  </div>
						  <button
						  		type="button"
						  		id="newsletter-submit-btn"
						  		class="btn btn-primary mb-2">Subscribe</button>
						</form>

						<h3>FAQs</h3>
						<ol>
							<li>How does it work?</li>
							<p>Glad you asked. Please see our <a href="/arch">white paper</a>.</p>

							<li>Can I get technical support?</li>
							<p>Please <a href="#">create an issue</a> the Github repository.</p>

							<li>How can I contribute?</li>
							<p>Please see the <a href="#">contributions</a> page on Github.</p>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>