<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h3>PQAI: Technical Architecture</h3>
						<p>Work is underway.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>