<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h4><b>v.0.2.2</b> (August 2020)</h4>
						<ul>
							<li>Distributed search capability</li>
							<li>New BERT-based subclass prediction module with higher accuracy</li>
							<li>New re-ranking engine with custom design with higher performance</li>
							<li>Generalization of Vectorizer module as Representations module</li>
							<li>Code refactoring</li>
							<li>Changes to UI (tabbed interface)</li>
						</ul>

						<h4><b>v.0.2.1</b> (July 2020)</h4>
						<ul>
							<li>Database expanded to all technologies (now ~22.5 million docs)</li>
							<li>Re-ranking engines added (ConvKNRM and MatchPyramid)</li>
							<li>Code refactoring</li>
						</ul>

						<h4><b>v.0.2.0</b> (May 2020)</h4>
						<ul>
							<li>Support for NPL literature (research papers)</li>
							<li>New vectorizer based on SentBERT</li>
							<li>Element-wise mapping of query with reference text</li>
							<li>Misc. updates to UI</li>
							<li>Example queries for demonstration purposes</li>
							<li>Code refactoring</li>
						</ul>

						<h4><b>v.0.1.1</b> (February 2020)</h4>
						<ul>
							<li>Database expanded to cover all US patents and patent applications in G, H, Y CPC sections</li>
							<li>Automatic selection of subclasses to be searched for a query</li>
							<li>Configurable speed-comprehensiveness tradeoff</li>
							<li>Code refactoring</li>
						</ul>

						<h4><b>v.0.1.1</b> (October 2019)</h4>
						<ul>
							<li>Alpha release</li>
							<li>Works with 160,000 US patents from H04W CPC subclass (wireless communication technology)</li>
							<li>SIF-weighted GloVe embeddings-based vectorizer</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>