<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h3>Reach out to us</h3>
						<p>Please fill this form and we'll get back to you.</p>
						<p>[Form]</p>
						<h3>Contact information</h3>
						<p>Address line 1</p>
						<p>Address line 2</p>
						<p>State, Country</p>
						<p>user@example.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>