<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Datasets</title>
	{{> default_header}}
	{{> styling}}
	<style type="text/css">
		nav.navbar {
			background-color: var(--dark-teal);
		}
	</style>
</head>
<body>
	{{> navbar}}
	<section>
		<div class="container">
			<div class="row mt-3 mb-3">
				<div class="col-md-12 my-2">
					Select dataset:
					<select id="dataset-selector" class="mr-3">
						<option value="poc" selected>PoC</option>
					</select>
					Select datapoint #
					<input type="text" id="datapoint-index" value="3">
					<button id="submit-btn" class="mr-3">Submit</button>
					<button id="pick-random-btn" class="mr-3">Random</button>
				</div>
				<div class="col-md-12 my-2">
					<button id="toggle-abstracts-btn">Show/hide Abstracts</button>
					<button id="highlight-citation-btn">Highlight Citation</button>
				</div>
			</div>
			<div id="display-pane"></div>
		</div>
	</section>
</body>
<script type="text/javascript" src="bootstrap-4.3.1/js/popper.min.js"></script>
<script type="text/javascript" src="bootstrap-4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).on('click', '#submit-btn', function(e) {
		var dataset = $('#dataset-selector').val();
		try {
			n = parseInt($('#datapoint-index').val());
		} catch (e) {
			n = 1;
		}
		showDatapoint(dataset, n);
	});

	$(document).on('click', '#pick-random-btn', function(e) {
		var dataset = $('#dataset-selector').val();
		var n = parseInt(94000*Math.random());
		$('#datapoint-index').val(n);
		$('#submit-btn').click();
	})

	$(document).on('click', '#toggle-abstracts-btn', function(e) {
		$('.abstract').toggleClass('hidden');
	})

	$(document).on('click', '#highlight-citation-btn', function(e) {
		$('.card.positive').css('border', '2px solid green');
	})

	

	function showDatapoint(dataset, n) {
		$('#display-pane').empty();
		var url = '/datasets/' + dataset + '/' + n;
		$.ajax({
			url: url,
			method: 'GET',
			success: function(html) {
				$('#display-pane').html(html);
			}
		})
	}

</script>
</html>