<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h1 class="text-center">PQAI</h1>
						<p class="text-center">
							A simple and powerful way to help you run prior-art checks.
						</p>
						<p class="text-center">
							PQAI is <a href="">open-source</a> and powered by <a href="">cutting-edge AI</a>.
						</p>
						<div class="row py-3">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button
									class="btn btn-primary btn-lg btn-block"
									id="try-it-out-btn">
									Try it out
								</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).on('click', '#try-it-out-btn', function(e) {
		window.location = '/search'
	})
</script>
</html>