<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Performance</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h3>Performance and benchmarks</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore iusto voluptates itaque recusandae, accusantium reiciendis, facere debitis quos aperiam quam aspernatur vitae quas sed distinctio sunt tempora culpa rerum dolorum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>