<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PQAI | Search</title>
		{{> default_header}}
		<style type="text/css">
			{{> custom_style}}
			nav.navbar {
				background-color: var(--dark-teal);
			}
			sup {
				font-size: 60%;
				top: -0.9em;
			}
			.visited {
				color: purple !important;
			}
			.gauge-container {
				width: 80%;
				margin: 0 auto;
				display: block;
				max-width: 200px;
			}
			.gauge {
				max-width: 300px;
			}
			.gauge-segment {
				background-color: lightgray;
				display: inline-block;
				margin: 0px;
				padding: 0px;
				border: 0;
				height: 30px;
			}
			.segment-0 {
				background-color: #fa2d08;
				width: 30%;
			}
			.segment-1 {
				background-color: #f7c20e;
				width: 40%;
			}
			.segment-2 {
				background-color: #809507;
				width: 30%;
			}
			.gauge-segment.legend {
				background-color: transparent !important;
				font-family: sans-serif;
				font-size: smaller;
				color: #2c82c9;
				border: 1px solid #2c82c9;
				border-bottom: none;
				text-align: center;
				height: 10px;
			}
			#gauge-text {
				font-family: sans-serif;
				color: #2c82c9;
			}
			.gauge-segment.legend:first-child {
				border-right: none;
			}
			.gauge-segment.legend:last-child {
				border-left: none;
			}
			#gauge-pointer {
				position: relative;
				left: 200px;
				top: 2px;
			}
			.curtain {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 200;
				background-color: #f4f7fc;
			}
			#tech-domain-input {
				color: var(--offwhite);
				font-size:12;
				background-color:transparent;
				border:none;
				padding: 0;
			}
			.custom-select:focus {
				border: none;
				box-shadow: none;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a href="#" class="navbar-brand">PQAI</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a href="/search" class="nav-link">Search</a>
					</li>
					<li class="nav-item dropdown">
						<a
							href="#"
							class="nav-link dropdown-toggle"
							id="view-bookmarks-btn"
							data-toggle="dropdown"
							role="button">
							Bookmarks (<span id="bookmark-count">0</span>)
						</a>
						<div class="dropdown-menu" id="bookmarks-list">
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="clear-bookmarks-btn" href="#">Clear list</a>
							<a
								class="dropdown-item"
								id="export-bookmarks-btn"
								href="#">
								Export to Excel
							</a>
						</div>
					</li>
					<li class="nav-item">
						<a href="/datasets" class="nav-link">Datasets</a>
					</li>
					<!-- <li class="nav-item">
						<a href="/about" class="nav-link">About</a>
					</li> -->
				</ul>
			</div>
		</nav>
		<section>
			<div id='input-pane'>
				<div class="container py-3">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<h2 class='pqai-logo mb-5'>Patent Quality through AI<sup>beta</sup></h2>
							<div class="form-group">
								<label
									for="user-text-input"></label>
								<textarea
									class="form-control"
									id="user-text-input"
									cols="30"
									rows="4"
									style="background-color: #1b3842; resize: vertical; max-height: 400px;"
									placeholder="Pick an example from the dropdown menu below, or enter an invention description or a claim (one feature per line)"></textarea>
							</div>
							<div class="row">
								<div class="col-md-8">
									<button
										class="btn btn-light"
										type="button"
										id="trigger-search-btn">
										Submit
									</button>
									<div
										class="dropdown open ml-2"
										style="display: inline-block">
										<button
											class="btn btn-transparent dropdown-toggle"
											type="button"
											id="example-select-btn"
											data-toggle="dropdown"
											style="color:var(--offwhite); font-size:12; text-align:left; border: 1px solid var(--offwhite)">
											Pick an example
										</button>
										<div
											class="dropdown-menu"
											id="example-queries">
										</div>
									</div>
									<a
										href='#'
										class="ml-2"
										id="data-coverage-notice-toggle-btn"
										style="color: var(--offwhite); text-decoration: underline;">
										Data sources and coverage
									</a>
								</div>
								<div class="col-md-4">
									<div class="form-group">
									  <button
									  	type="button"
									  	class="btn btn-transparent dropdown-toggle ml-2"
									  	id="calendar-btn"
									  	data-toggle="dropdown"
									  	style="color:var(--offwhite);font-size:12;float:right">
										  	No date restriction
									  </button>
									  <div
									  	class="dropdown-menu"
									  	style="padding: 10px 20px">
											<span id="date-filter-label">
												Cut-off date
											</span>
											<input
												type="text"
												class="form-control form-control-sm"
												id="cutoff-date-input"
												placeholder="YYYY-MM-DD"
												style="display: inline-block; font-family: sans-serif;">
											<a
												href="#"
												id="apply-date-filter-btn">
													Apply
											</a>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8 hidden" id="options-pane">
							<button class="btn btn-sm btn-outline-secondary" type="button" id="download-report-btn">
								<i class="fa fa-download"></i> Download report
							</button>
							<button class="btn btn-sm btn-outline-secondary" type="button" id="toggle-charts-btn">
								<i class="fa fa-line-chart"></i> Hide charts
							</button>
							<button class="btn btn-sm btn-outline-secondary" type="button" id="toggle-abstracts-btn">
								<i class="fa fa-adjust"></i> Show abstracts
							</button>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
			<div class="container mt-2 mb-2 hidden" id="data-coverage-notice">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p><span class="fa fa-info-circle"></span> The data coverage of this beta version is limited to nearly 11 million US patents and applications and nearly 11.5 million research papers in the fields of engineering and computer science. Datasets were obtained from <a href="https://bulkdata.uspto.gov/" target="_BLANK">USPTO Bulk Datasets</a> and <a href="http://s2-public-api-prod.us-west-2.elasticbeanstalk.com/corpus/" target="_BLANK">Semantic Scholar's Open Research Corpus</a>, respectively.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			<div class="container">
				<div class="row" id="charts-pane">
					<div class="curtain"></div>
					<div class="col-lg-4 mt-3">
						<div class="card chart-card">
						  <div class="card-body">
						    <h5 class="card-title">O-Score</h5>
						    <div id="chart-a" style="width:100%; height:250px; display:block; margin: 0 auto;">
						    	<div class="linear-gauge-container">
						    		<div id="gauge-text"></div>
						    	  <div class="pointer-container">
						    	    <img id="gauge-pointer" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAIAAACJ2loDAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TtaVUHOxQxCFDdbIgfuGoVShChVArtOpgcumH0KQhaXFxFFwLDn4sVh1cnHV1cBUEwQ8QF1cnRRcp8X9JoUWMB8f9eHfvcfcOEBplplldo4CmV810MiFmcyti4BUhRBFEDyZlZhmzkpSC5/i6h4+vd3Ge5X3uz9Gr5i0G+ETiGWaYVeJ14qnNqsF5nzjCSrJKfE48YtIFiR+5rrj8xrnosMAzI2YmPUccIRaLHax0MCuZGvEEcUzVdMoXsi6rnLc4a+Uaa92TvzCc15eXuE5zEEksYBESRCioYQNlVBGnVSfFQpr2Ex7+AccvkUsh1wYYOeZRgQbZ8YP/we9urcL4mJsUTgDdL7b9MQQEdoFm3ba/j227eQL4n4Erve2vNIDpT9LrbS12BPRtAxfXbU3ZAy53gOiTIZuyI/lpCoUC8H5G35QD+m+B0KrbW2sfpw9AhrpK3QAHh8BwkbLXPN4d7Ozt3zOt/n4AY/VyoWOKwJMAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfjChgICR0/ziJ1AAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAI9JREFUGNN1yrEJxCAYxfHvCmvHyQTZQrBzCSFDCAELd7DLErpAOquUVgFBhHdFjiSXO1/5f7/XNE3zPFN/SinKOQ/D0BOc823bCECMsYe89wAIAABr7a+QUtZaL1RKEUI80Lqux/tBAFJKjLFTOOfO60IAlmU5xDiO+77/R601rTURhRDu/QsByDkbYx7xDUxwqKG/gFUNAAAAAElFTkSuQmCC" alt="\/" />
						    	  </div>
						    	  <div class="gauge">
						    	    <div class="gauge-segment segment-0">&nbsp;</div><div class="gauge-segment segment-1">&nbsp;</div><div class="gauge-segment segment-2">&nbsp;</div>
						    	  </div>
						    	  <div class="gauge" style="margin-top: 5px;">
						    	  	<div class="gauge-segment segment-0 legend">Low</div><div class="gauge-segment segment-1 legend">Medium</div><div class="gauge-segment segment-2 legend">High</div>
						    	  </div>
						    	</div>
						    </div>
						    <p class="card-text">A high originality score indicates that your ideas seems unique with respect to the patents results from this search.</p>
						    <!-- <a href="#" class="btn btn-primary">Know more</a> -->
						  </div>
						</div>
					</div>
					<div class="col-lg-4 mt-3">
						<div class="card chart-card" style="width: 100%;">
						  <div class="card-body">
						    <h5 class="card-title">Filing trend</h5>
						    <div id="chart-b" style="width:100%; height:250px; display:block; margin: 0 auto;"></div>
						    <p class="card-text">The filing trend is indicative of the relative number of patents that have been filed on ideas related to yours in recent years.</p>
						    <!-- <a href="#" class="btn btn-primary">Know more</a> -->
						  </div>
						</div>
					</div>
					<div class="col-lg-4 mt-3">
						<div class="card chart-card" style="width: 100%;">
						  <div class="card-body">
						    <h5 class="card-title">Key assignees</h5>
						    <div id="chart-c" style="width:100%; height:250px; display:block; margin: 0 auto;"></div>
						    <p class="card-text">Key assignees are those patent holders (companies or inventors) that have maximum number of patents related to your idea.</p>
						    <!-- <a href="#" class="btn btn-primary">Know more</a> -->
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mt-3" id="output-pane">
						<!-- automatically populated -->
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.0/handlebars.min.js"></script>
<script type="text/javascript" src="bootstrap-4.3.1/js/popper.min.js"></script>
<script type="text/javascript" src="bootstrap-4.3.1/js/bootstrap.min.js"></script>
{{> export_js}}
{{> charts}}


<script type="text/javascript">
	var app = {};
	app.config = {};
	app.state = {};
	app.templates = {};

	app.config.chartsDisabled = true;
	app.config.nResults = 10;
	app.config.loadMappings = -1;
	app.config.showOptions = false;
	app.config.palette = [
		'#003f5c', '#444e86', '#955196',
		'#dd5182', '#ff6e54', '#ffa600',
		'#666666', '#999999', '#BBBBBB'
	];

	app.state.query = null;
	app.state.dateFilterBefore = null;
	app.state.dateFilterAfter = null;
	app.state.loading = false;
	app.state.stats = null;
	app.state.metaResults = {}
	app.state.results = [];
	app.state.pointer = -1;
	app.state.visited = {};
	app.state.bookmarks = [];
	app.state.latentQuery = '';

	app.config.examples = [
		{
			id: 'ex1',
			label: 'Reducing food wastage at restaurant using customer prediction',
			query: 'An automated cooking system that minimizes food wastage.\n'
				+ 'It predicts the customer inflow based on historical data.\n'
				+ 'It prepares ingredients according to the predicted number of customers.'
		},
		{
			id: 'ex2',
			label: 'Meeting transcription system',
			query: 'A system for preparing minutes of meeting.\n'
				+ 'A voice recognition system is trained to recognize voice of different persons.\n'
				+ 'A voice-to-text system records the dialog and converts it to text.\n'
				+ 'A combining system associates a person with each dialog element.'
		},
		{
			id: 'ex3',
			label: 'Photo frame with adjustable photo slide rate',
			query: 'A photo frame for a desk.\n'
				+ 'The frame stores a number of photos.\n'
				+ 'The frame has a number of settings.\n'
				+ 'The settings can be configured such that photo slide time changes.'
		}
	];

	$(document).ready(function () {
		populateExamples();
		$('#user-text-input').focus();
		$('#calendar-btn').dropdown();
		loadBookmarks();
	});

	function populateExamples() {
		app.config.examples.forEach(function (example) {
			$('#example-queries').append(
				'<a class="dropdown-item example-query" data-query="' + btoa(example.query) + '" href="#">' + example.label + '</a>'
			)
		})
	}

	$(document).on('click', '.example-query', function(e) {
		e.preventDefault();
		var b64query = $(this).attr('data-query');
		var query = atob(b64query);
		$('#user-text-input').val(query);
	});

	function initializeCharts() {
		var w = $('#chart-a').width();
		var aspectRatio = 4/3;
		var f = 1 / aspectRatio;
		w *= f;
		$('#chart-a').css('height', (w + 'px'));
		$('#chart-b').css('height', (w + 'px'));
		$('#chart-c').css('height', (w + 'px'));
		// chartA = echarts.init(document.getElementById('chart-a'));
		chartB = echarts.init(document.getElementById('chart-b'));
		chartC = echarts.init(document.getElementById('chart-c'));
	}

	function callMediator(parameters, callback) {
		if (typeof parameters == 'string') {
			parameters = { cmd: parameters }
		}
		$.post('mediator', parameters, function (response) {
			if (!response.error) {
				callback(response);
			} else {
				handleError(response);
			}
		});
	}

	function handleError(err) {
		if (err.redirectAddress) {
			window.location = err.redirectAddress;
		} else if (err.message) {
			alert(err.message);
		} else {
			console.log(err);	
		}
		return false;
	}

	$(document).on('click', '#trigger-search-btn', function (e) {
		var techDomain = 'auto';
		readUserQuery();

		if (app.state.loading) {
			return alert('Please wait while results are loading.');
		}
		if (!app.state.query) {
			return alert('Please enter a query.');
		}
		clearOutput();
		app.state.loading = true;
		showLoading();
		hideCharts();
		
		if (app.state.queryType == 'text') {
			var query = app.state.query + '\n' + app.state.latentQuery.trim();
			getStats(query, techDomain, function (done) {
				triggerSearch(query, techDomain);
			});
		} else {
			triggerSearch(query, techDomain);
		}
	});

	/*
		On CTRL+Enter, submit the query
	*/
	$(document).on('keyup', '#user-text-input', function (e) {
		if (e.keyCode == 13 && e.ctrlKey) {
			$('#trigger-search-btn').click();
		}
	});

	function readUserQuery() {
		var query = $('#user-text-input').val().trim();
		app.state.query = query;
		app.state.queryType = getQueryType(query);
	}

	function getQueryType(query) {
		if (query.match(/^US\d+[AB]\d?$/)) {
			return 'patent';
		} else {
			return 'text';
		}
	}

	function triggerSearch(query, techDomain="auto") {
		query = query.trim();
		var cmd;
		if (query.match(/^US\d+[AB]\d?$/)) {
			cmd = 'search-by-patent';
		} else {
			cmd = 'search-by-query';
		}
		var reqParams = {
			cmd,
			query,
			techDomain,
			before: app.state.dateFilterBefore,
			after: app.state.dateFilterAfter,
			mappings: app.config.loadMappings,
			n: app.config.nResults
		};
		callMediator(reqParams, function(response) {
			app.state.loading = false;
			hideLoading();
			loadNewResults(response);
		});
	}

	function loadNewResults(newQueryResponse, callback=Function.prototype) {
		app.state.latentQuery = '';
		app.state.metaResults = newQueryResponse;
		app.state.results = app.state.metaResults.results;
		app.state.pointer = -1;
		showNextResult();
		callback(true);
	}

	function showNextResult() {
		seekRelative(1, function (shown) {
			if (!shown) {
				notifyUser('Error occurred while showing next result.');
			}
		});
	}

	function showPreviousResult() {
		seekRelative(-1, function (shown) {
			if (!shown) {
				notifyUser('Error occurred while showing next result.');
			}
		});
	}

	function seekRelative(r, callback=Function.prototype) {
		var n = app.state.pointer + r;
		seekAbsolute(n, callback);
	}

	function seekAbsolute(n, callback=Function.prototype) {
		/* Check if position is valid */
		if (n < 0 || n >= app.state.results.length) {
			callback(false);
		}
		
		var result = app.state.results[n];
		showResult(result, function(done) {
			if (!done)
				return callback(false);
			app.state.pointer = n;

			/* Update result navigator */
			$('#result-navigator button.active').removeClass('active');
			var activatedButton = $('#result-navigator button').get(n);
			$(activatedButton).addClass('active');
			
			callback(true);
		});

		/* Load and buffer mapping of next result */
		if (n+1 < app.state.results.length) {
			var nextResult = app.state.results[n+1];
			loadMapping(nextResult);
		}
	}

	function showResult(result, callback=Function.prototype) {
		hideShownResult();
		if (!result.mapping) {
			loadMapping(result, function(loaded) {
				showResult(result, callback);
			});
			return;
		}

		if (!$('#result-navigator').length) {
			var html = app.templates.resultNavigator();
			$('#output-pane').html(html);
		}

		html = app.templates.resultCard(result);
		$('#output-pane').append(html);

		callback(true);
	}

	function hideShownResult() {
		$('.result-card').remove();
	}

	function loadMapping(result, callback=Function.prototype) {
		var ref = result.id;
		var query = app.state.query;
		callMediator({
			cmd: 'get-element-wise-mapping',
			ref: ref,
			query: query
		}, function (mapping) {
			result.mapping = mapping;
			callback(true);
		});
	}

	function notifyUser(message) {
		alert(message);
	}

	function clearOutput() {
		$('#output-pane').empty();
	}

	var loadMoreBtnHtml = '<button class="btn btn-md btn-default mb-3" id="load-more-btn">Load more results</button>';

	function getSnippet(pn, query, callback) {
		callMediator({
			cmd: 'get-snippet',
			publicationNumber: pn,
			query: query
		}, function (snippet) {
			var arr = snippet.split('<br>');
			var html = "";
			arr.forEach(function (e) {
				html += '<p class="card-text res-snippet">' + e + '</p>';
			});
			callback(html);
		});
	}

	$(document).on('click', '#load-more-btn', function(e) {
		if (app.state.results.length > 0) {
			displayResults();
		} else {
			alert("No more results to show.");
		}
	});

	$(document).on('click', '.res-title', function(e) {
		var pn = $(this).attr('data-pn');
		app.state.visited[pn] = true;
		$(this).addClass('visited');
		var url = 'https://patents.google.com/patent/' + pn;
		openInNewTab(url);
	});

	$(document).on('click', '.ext-link', function(e) {
		var pn = $(this).attr('data-pn');
		app.state.visited[pn] = true;
	});

	$(document).on('click', '.more-like-this-btn', function(e) {
		var publicationNumber = $(this).attr('data-pn');
		app.state.latentQuery = $(this).closest('.card-body').find('p.res-snippet').text().trim();
		$('#trigger-search-btn').click();
	});

	$(document).on('click', '.element-wise-mapping-btn', function(e) {
		e.preventDefault();
		var thisCard = $(this).closest('.card');
		console.log(thisCard.find('.mapping-table').length);
		if (thisCard.find('.mapping-table').length) {
			thisCard.find('.mapping-table').remove();
			return;
		}
		var ref = $(this).attr('data-pn');
		var query = readUserQuery();
		callMediator({
			cmd: 'get-element-wise-mapping',
			ref: ref,
			query: query
		}, function (claimChartHTML) {
			$(thisCard).children('.card-body').append(claimChartHTML);
		});
	});

	function getGoogleLink(pn) {
		var url = 'https://patents.google.com/patent/' + pn;
		var link = '<a href="' + url + '" target="_blank" class="mr-3 ext-link" data-pn="' + pn + '"">' + pn + '</a/>';
		return link;
	}

	function normalizeDate(string) {
		if (typeof string !== 'string') {
			return string;
		}
		var months = [
			'_', 'Jan', 'Feb', 'Mar', 'Apr',
			'May', 'Jun', 'Jul', 'Aug',
			'Sep', 'Oct', 'Nov', 'Dec'
		];
		if (string.match(/^\d\d\d\d\-\d\d\-\d\d$/)) {
			var yyyy_mm_dd = string;
			var mm = parseInt(yyyy_mm_dd.substr(5, 7));
			var yyyy = parseInt(string.substr(0, 4));
		} else if (string.match(/^\d\d?\/\d\d?\/\d{4}$/)) {
			var len = string.length;
			var mm = parseInt(string.match(/^\d+/)[0]);
			var yyyy = parseInt(string.substr(len-4, len));
		}

		var month = months[mm];
		var normalized = month + ' ' + yyyy;

		return normalized;
	}

	function loadSnippets() {
		if (!app.state.query) {
			return;
		}
		var pns = $('.snippet-placeholder').toArray().map(function (e) {
			return $(e).attr('id');
		});

		runInBatch(pns, function (pn, callback) {
			callMediator({
				cmd: 'get-snippet',
				publicationNumber: pn,
				query: app.state.query
			}, function (snippet) {
				var targetElement = $('#' + pn);
				targetElement.replaceWith('<p class="res-snippet">' + snippet + '</p>');
				callback();
			});
		}, function (arr) {
			// done
		});
	}

	function runInBatch(arr, mid, end) {
		if (!Array.isArray(arr) || typeof mid !== 'function' || typeof end !== 'function') return end(null);
		var sum = arr.length;
		var interim = [];
		var arr = arr.map(function (e) { return e; });
		var threads = 0;
		var maxThreads = 4;
		(function _execute() {
			if (!arr.length)
				return;
			threads++;
			mid(arr.shift(), function (result) {
				threads--;
				interim.push(result);
				if (arr.length === 0 && sum-arr.length-interim.length === 0)
					return end(interim);
				while (threads < maxThreads && arr.length)
					_execute();
			});
		}());
	}

	$(document).on('mouseenter', '.res', function (e) {
		var res = $(this);
		res.find('.hidden').addClass('waiting-to-show');
		setTimeout(function () {
			var els = res.find('.hidden.waiting-to-show');
			if (els.length > 0) {
				res.find('.hidden.waiting-to-show').fadeIn();
				res.find('.hidden.waiting-to-show').removeClass('waiting-to-show');
			}
		}, 500);
	});

	$(document).on('mouseleave', '.res', function (e) {
		var res = $(this);
		res.find('.hidden.waiting-to-show').removeClass('waiting-to-show');
		res.find('.hidden').fadeOut();
	});

	function openInNewTab(url) {
		var win = window.open(url, '_blank');
		win.focus();
	}

	function showLoading() {
		var html = '<div class="spinner-border spinner-border-sm" role="status">'
  				+ '<span class="sr-only">Loading...</span>'
				+ '</div> Loading';
		$('#trigger-search-btn').html(html);
	}

	function hideLoading() {
		$('#trigger-search-btn').html('Submit');
	}

	$(document).on('click', '#download-report-btn, #toggle-abstracts-btn, #toggle-charts-btn', function (e) {
		alert('Work in progress.');
	});

	$(document).on('click', '#apply-date-filter-btn', function (e) {
		var date = $('#cutoff-date-input').val();
		if (!date) {
			app.state.dateFilterBefore = null;
			return;
		}
		$('#calendar-btn').text("before " + date)
		if (!date.match(/^\d{4}\-\d{2}\-\d{2}$/)) {
			return alert("Invalid date.");
		}
		app.state.dateFilterBefore = date;
		$('#trigger-search-btn').click();
	});

	$(document).on('click', '.bookmark-btn', function (e) {
		e.preventDefault();
		var n = app.state.pointer;
		var result = app.state.results[n];
		app.state.bookmarks.push(result);
		saveBookmarks();
		$(this).addClass('disabled');
		$(this).text('Bookmarked');
	});

	function saveBookmarks() {
		localStorage.setItem('bookmarks', JSON.stringify(app.state.bookmarks));
		updateBookmarksCountBadge();
		populateBookmarksList();
	}

	function loadBookmarks() {
		if (!localStorage.getItem('bookmarks')) {
			return null;
		}
		app.state.bookmarks = JSON.parse(localStorage.getItem('bookmarks'));
		updateBookmarksCountBadge();
		populateBookmarksList();
	}

	$(document).on('click', '#clear-bookmarks-btn', function (e) {
		var confirmation = confirm('Remove all bookmarks?');
		if (confirmation) {
			app.state.bookmarks = [];
			saveBookmarks();

			// If the currently displayed result is bookmarked,
			// remove the "bookmarked" button by re-rendering
			seekRelative(0);
		}
	});

	$(document).on('click', '#export-bookmarks-btn', function (e) {
		try {
			exportBookmarks(app.state.bookmarks);
		} catch (e) {
			console.log(e);
			alert("Error while exporting bookmarks.");
		}
	});

	function populateBookmarksList() {
		/* clear previously rendered list */
			$('#bookmarks-list .bookmark').remove();

		/* edge case - no bookmarks */
			if (!app.state.bookmarks.length) {
				$('#bookmarks-list').prepend(
					`<a
						class="dropdown-item bookmark"
						href="#"
						data-id="">
						No bookmarks
					</a>`
				)
				return;
			}

		/* populate list */
		app.state.bookmarks.forEach(function (bookmark) {
			$('#bookmarks-list').prepend(
				`<a
					class="dropdown-item bookmark"
					href="${bookmark.www_link}"
					target="_BLANK"
					data-id="${bookmark.id}">
					${cutShort(bookmark.title, 75)}
				</a>`
			)
		});
	}

	function updateBookmarksCountBadge() {
		$('#bookmark-count').text(app.state.bookmarks.length);
	}

	function floatToPercentage (floatVal) {
		let f = parseFloat(floatVal);
		return parseInt(100*f);
	}

	app.templates.resultCard = function (result) {
		var html = '';
		html += `
			<div class="card result-card mb-3">
				<div class="card-body">
					<div class="card-title">
						<h5 class="res-title" data-pn="${result.id}">
							${ result.title }
						</h5>
					</div>
					<p class="card-text res-bib">
						<span class="mr-3">${ result.owner }</span>
						<span class="mr-3">${ result.publication_date }</span>
						<a href="${ result.www_link }"
							target="_blank"
							class="mr-3 ext-link"
							data-pn="${ result.id }">
							${ result.publication_id }
						</a>
						<a href="#"
							class="more-like-this-btn mr-3"
							data-pn="${ result.id }">
							Show more like this
						</a>
					</p>
					<p class="card-text res-snippet">
						${ result.abstract }
					</p>
					<table class="table table-inverse mapping-table">
						<thead>
							<tr>
								<th style='text-align: left'>Query elements</th>
								<th style='text-align: left'>Reference text</th>
							</tr>
						</thead>
						<tbody>`
		result.mapping.forEach(function (row) {
			html += `
				<tr>
					<td style='vertical-align: top'>${ row.element }</td>
					<td style='vertical-align: top'>${ row.mapping }</td>
				</tr>`
			// html += `
			// 	<tr>
			// 		<td style='vertical-align: top'>${ row.element }</td>
			// 		<td style='vertical-align: top'>${ row.mapping }</td>
			// 		<td style='vertical-align: top'>${floatToPercentage(row.similarity)}%</td>
			// 	</tr>`
		});
		html += `		</tbody>
					</table>`
		if (!app.state.bookmarks.map(
				function(e) { return e.id }
				).includes(result.id)
			) {
			html +=	`<a href="#" class="btn btn-primary bookmark-btn">
						Bookmark</a>`
		} else {
			html +=	`<a href="#" class="btn btn-primary bookmark-btn disabled">
						Bookmarked</a>`
		}
		html +=	`</div>
			</div>`
		return html;
	}

	app.templates.resultNavigator = function () {
		var html = '';
		html += `<div class="row">
					<div
						class="col-md-12"
						style="text-align:center">
						<div
							class="btn-group mb-3"
						id="result-navigator"
						role="group">`;
		app.state.results.forEach(function (result, i) {
			html += `<button
						type="button"
						class="btn btn-secondary res-nav-btn"
						data-i="${i}">
							${i+1}
						</button>`
		})
		html += `</div>
			</div>
		</div>`;
		return html;
	}

	$(document).on('click', '.res-nav-btn', function (e) {
		e.preventDefault();
		var i = parseInt($(this).attr('data-i'));
		seekAbsolute(i);
	});

	function cutShort(text, length) {
	    if (!length || length > text.length || length < 10) return text;
	    var i = length-4;
	    while (text.charAt(i) !== ' ') i--;
	    var shownText = text.substring(0, i);
	    var hiddenText = text.substring(i);
	    var html = shownText + `<span class='hidden-text' data-text='${btoa(text.substring(i))}' style='cursor:pointer'> ...</span>`;
	    return html;
	}

	$(document).on('click', '.hidden-text', function() {
		var text = atob($(this).attr('data-text'));
		$(this).replaceWith(text);
	})

	$(document).on('click', '#data-coverage-notice-toggle-btn', function (e) {
		$('#data-coverage-notice').toggleClass('hidden');
	});

</script>
