<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	{{> default_header}}
	{{> styling}}
</head>
<body>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					<div class="container">
						<h1 class="text-center">PQAI</h1>
						<p class="text-center">
							A simple and powerful way to help you run prior-art checks.
						</p>
						<p class="text-center">
							PQAI is <a href="">open-source</a> and powered by <a href="">cutting-edge AI</a>.
						</p>
						<div class="row">
							<div class="col-md-4">
								<div class="demo card">
									<div class="card-body">
										<h4 class="card-title">Smart restaurant</h4>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<button class="btn btn-outline-primary">Find prior-art</button>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="demo card">
									<div class="card-body">
										<h4 class="card-title">Meeting notes</h4>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<button class="btn btn-outline-primary">Find prior-art</button>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="demo card">
									<div class="card-body">
										<h4 class="card-title">Photo frame</h4>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
										<button class="btn btn-outline-primary">Find prior-art</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<textarea
							class="form-control"
							id="user-text-input"
							cols="30"
							rows="4"
							placeholder="Pick an example from the dropdown menu below, or enter an invention description or a claim (one feature per line)"></textarea>
						<button
							class="btn btn-primary"
							type="button"
							id="trigger-search-btn">
							Submit
						</button>
						<button
							class="btn btn-outline-secondary"
							type="button">
							Pick an example
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>