<!DOCTYPE html>
<html lang="en">
<head>
	<title>PQAI | Search</title>
	<link rel="stylesheet" href="bootstrap-4.3.1/css/bootstrap.min.css">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
		:root {
			--default-font: 'Jost', sans-serif;
			--serif-font: 'Crimson-Pro', serif;
			--default-font-weight: 100;
			--body-bg: #EEF1F3;
			--diffused-blue-heading: #628BA6;
			--diffused-blue-text: #466E88;
		}
		body {
			font-family: var(--default-font);
			font-weight: var(--default-font-weight);
			background-color: var(--body-bg);
		}
		.action-area {
			background-color: whitesmoke;
			box-shadow: 0 4px 8px #CDD7DD;
			height: 100vh;
		}
		.landing-page-intro {
			color: var(--diffused-blue-text);
			margin-top: 100px;
			margin-left: 50px;
		}
		.logo {
			color: var(--diffused-blue-heading);
			font-size: 5.5rem;
			font-weight: 300;
			margin-bottom: -0.7rem;
		}
		.logo-subtext {
			color: var(--body-bg);
			margin-left: 7px;
			background-color: #41647B;
			display: inline-block;
			padding: 3px 6px;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 py-3 action-area">
				<div class="container-fluid pl-5 pr-0">
					Hello
				</div>
			</div>
			<div class="col-sm-6 py-3 response-area">
				<div class="container-fluid pl-0 pr-5">
					<div class="landing-page-intro">
						<h1 class="logo">PQAI</h1>
						<h5 class="logo-subtext">
							Patent Quality through AI
						</h5>
						<p style="max-width:50%; margin-left: 6px">PQAI is an open-source AI-based platform that aims to provide a simplified yet powerful way to run prior-art checks.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>