<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>tech-areas</title><style type='text/css'>html {overflow-x: initial !important;}:root { --bg-color:#ffffff; --text-color:#333333; --select-text-bg-color:#B5D6FC; --select-text-font-color:auto; --monospace:"Lucida Console",Consolas,"Courier",monospace; }
html { font-size: 14px; background-color: var(--bg-color); color: var(--text-color); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; }
body { margin: 0px; padding: 0px; height: auto; bottom: 0px; top: 0px; left: 0px; right: 0px; font-size: 1rem; line-height: 1.42857; overflow-x: hidden; background: inherit; tab-size: 4; }
iframe { margin: auto; }
a.url { word-break: break-all; }
a:active, a:hover { outline: 0px; }
.in-text-selection, ::selection { text-shadow: none; background: var(--select-text-bg-color); color: var(--select-text-font-color); }
#write { margin: 0px auto; height: auto; width: inherit; word-break: normal; overflow-wrap: break-word; position: relative; white-space: normal; overflow-x: visible; padding-top: 40px; }
#write.first-line-indent p { text-indent: 2em; }
#write.first-line-indent li p, #write.first-line-indent p * { text-indent: 0px; }
#write.first-line-indent li { margin-left: 2em; }
.for-image #write { padding-left: 8px; padding-right: 8px; }
body.typora-export { padding-left: 30px; padding-right: 30px; }
.typora-export .footnote-line, .typora-export li, .typora-export p { white-space: pre-wrap; }
@media screen and (max-width: 500px) {
  body.typora-export { padding-left: 0px; padding-right: 0px; }
  #write { padding-left: 20px; padding-right: 20px; }
  .CodeMirror-sizer { margin-left: 0px !important; }
  .CodeMirror-gutters { display: none !important; }
}
#write li > figure:last-child { margin-bottom: 0.5rem; }
#write ol, #write ul { position: relative; }
img { max-width: 100%; vertical-align: middle; }
button, input, select, textarea { color: inherit; font: inherit; }
input[type="checkbox"], input[type="radio"] { line-height: normal; padding: 0px; }
*, ::after, ::before { box-sizing: border-box; }
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write pre { width: inherit; }
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p { position: relative; }
p { line-height: inherit; }
h1, h2, h3, h4, h5, h6 { break-after: avoid-page; break-inside: avoid; orphans: 2; }
p { orphans: 4; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
.md-math-block, .md-rawblock, h1, h2, h3, h4, h5, h6, p { margin-top: 1rem; margin-bottom: 1rem; }
.hidden { display: none; }
.md-blockmeta { color: rgb(204, 204, 204); font-weight: 700; font-style: italic; }
a { cursor: pointer; }
sup.md-footnote { padding: 2px 4px; background-color: rgba(238, 238, 238, 0.7); color: rgb(85, 85, 85); border-radius: 4px; cursor: pointer; }
sup.md-footnote a, sup.md-footnote a:hover { color: inherit; text-transform: inherit; text-decoration: inherit; }
#write input[type="checkbox"] { cursor: pointer; width: inherit; height: inherit; }
figure { overflow-x: auto; margin: 1.2em 0px; max-width: calc(100% + 16px); padding: 0px; }
figure > table { margin: 0px !important; }
tr { break-inside: avoid; break-after: auto; }
thead { display: table-header-group; }
table { border-collapse: collapse; border-spacing: 0px; width: 100%; overflow: auto; break-inside: auto; text-align: left; }
table.md-table td { min-width: 32px; }
.CodeMirror-gutters { border-right: 0px; background-color: inherit; }
.CodeMirror-linenumber { user-select: none; }
.CodeMirror { text-align: left; }
.CodeMirror-placeholder { opacity: 0.3; }
.CodeMirror pre { padding: 0px 4px; }
.CodeMirror-lines { padding: 0px; }
div.hr:focus { cursor: none; }
#write pre { white-space: pre-wrap; }
#write.fences-no-line-wrapping pre { white-space: pre; }
#write pre.ty-contain-cm { white-space: normal; }
.CodeMirror-gutters { margin-right: 4px; }
.md-fences { font-size: 0.9rem; display: block; break-inside: avoid; text-align: left; overflow: visible; white-space: pre; background: inherit; position: relative !important; }
.md-diagram-panel { width: 100%; margin-top: 10px; text-align: center; padding-top: 0px; padding-bottom: 8px; overflow-x: auto; }
#write .md-fences.mock-cm { white-space: pre-wrap; }
.md-fences.md-fences-with-lineno { padding-left: 0px; }
#write.fences-no-line-wrapping .md-fences.mock-cm { white-space: pre; overflow-x: auto; }
.md-fences.mock-cm.md-fences-with-lineno { padding-left: 8px; }
.CodeMirror-line, twitterwidget { break-inside: avoid; }
.footnotes { opacity: 0.8; font-size: 0.9rem; margin-top: 1em; margin-bottom: 1em; }
.footnotes + .footnotes { margin-top: 0px; }
.md-reset { margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; background: 0px 0px; text-decoration: none; text-shadow: none; float: none; position: static; width: auto; height: auto; white-space: nowrap; cursor: inherit; -webkit-tap-highlight-color: transparent; line-height: normal; font-weight: 400; text-align: left; box-sizing: content-box; direction: ltr; }
li div { padding-top: 0px; }
blockquote { margin: 1rem 0px; }
li .mathjax-block, li p { margin: 0.5rem 0px; }
li { margin: 0px; position: relative; }
blockquote > :last-child { margin-bottom: 0px; }
blockquote > :first-child, li > :first-child { margin-top: 0px; }
.footnotes-area { color: rgb(136, 136, 136); margin-top: 0.714rem; padding-bottom: 0.143rem; white-space: normal; }
#write .footnote-line { white-space: pre-wrap; }
@media print {
  body, html { border: 1px solid transparent; height: 99%; break-after: avoid; break-before: avoid; }
  #write { margin-top: 0px; padding-top: 0px; border-color: transparent !important; }
  .typora-export * { -webkit-print-color-adjust: exact; }
  html.blink-to-pdf { font-size: 13px; }
  .typora-export #write { padding-left: 32px; padding-right: 32px; padding-bottom: 0px; break-after: avoid; }
  .typora-export #write::after { height: 0px; }
}
.footnote-line { margin-top: 0.714em; font-size: 0.7em; }
a img, img a { cursor: pointer; }
pre.md-meta-block { font-size: 0.8rem; min-height: 0.8rem; white-space: pre-wrap; background: rgb(204, 204, 204); display: block; overflow-x: hidden; }
p > .md-image:only-child:not(.md-img-error) img, p > img:only-child { display: block; margin: auto; }
p > .md-image:only-child { display: inline-block; width: 100%; }
#write .MathJax_Display { margin: 0.8em 0px 0px; }
.md-math-block { width: 100%; }
.md-math-block:not(:empty)::after { display: none; }
[contenteditable="true"]:active, [contenteditable="true"]:focus, [contenteditable="false"]:active, [contenteditable="false"]:focus { outline: 0px; box-shadow: none; }
.md-task-list-item { position: relative; list-style-type: none; }
.task-list-item.md-task-list-item { padding-left: 0px; }
.md-task-list-item > input { position: absolute; top: 0px; left: 0px; margin-left: -1.2em; margin-top: calc(1em - 10px); border: none; }
.math { font-size: 1rem; }
.md-toc { min-height: 3.58rem; position: relative; font-size: 0.9rem; border-radius: 10px; }
.md-toc-content { position: relative; margin-left: 0px; }
.md-toc-content::after, .md-toc::after { display: none; }
.md-toc-item { display: block; color: rgb(65, 131, 196); }
.md-toc-item a { text-decoration: none; }
.md-toc-inner:hover { text-decoration: underline; }
.md-toc-inner { display: inline-block; cursor: pointer; }
.md-toc-h1 .md-toc-inner { margin-left: 0px; font-weight: 700; }
.md-toc-h2 .md-toc-inner { margin-left: 2em; }
.md-toc-h3 .md-toc-inner { margin-left: 4em; }
.md-toc-h4 .md-toc-inner { margin-left: 6em; }
.md-toc-h5 .md-toc-inner { margin-left: 8em; }
.md-toc-h6 .md-toc-inner { margin-left: 10em; }
@media screen and (max-width: 48em) {
  .md-toc-h3 .md-toc-inner { margin-left: 3.5em; }
  .md-toc-h4 .md-toc-inner { margin-left: 5em; }
  .md-toc-h5 .md-toc-inner { margin-left: 6.5em; }
  .md-toc-h6 .md-toc-inner { margin-left: 8em; }
}
a.md-toc-inner { font-size: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; }
.footnote-line a:not(.reversefootnote) { color: inherit; }
.md-attr { display: none; }
.md-fn-count::after { content: "."; }
code, pre, samp, tt { font-family: var(--monospace); }
kbd { margin: 0px 0.1em; padding: 0.1em 0.6em; font-size: 0.8em; color: rgb(36, 39, 41); background: rgb(255, 255, 255); border: 1px solid rgb(173, 179, 185); border-radius: 3px; box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset; white-space: nowrap; vertical-align: middle; }
.md-comment { color: rgb(162, 127, 3); opacity: 0.8; font-family: var(--monospace); }
code { text-align: left; vertical-align: initial; }
a.md-print-anchor { white-space: pre !important; border-width: initial !important; border-style: none !important; border-color: initial !important; display: inline-block !important; position: absolute !important; width: 1px !important; right: 0px !important; outline: 0px !important; background: 0px 0px !important; text-decoration: initial !important; text-shadow: initial !important; }
.md-inline-math .MathJax_SVG .noError { display: none !important; }
.html-for-mac .inline-math-svg .MathJax_SVG { vertical-align: 0.2px; }
.md-math-block .MathJax_SVG_Display { text-align: center; margin: 0px; position: relative; text-indent: 0px; max-width: none; max-height: none; min-height: 0px; min-width: 100%; width: auto; overflow-y: hidden; display: block !important; }
.MathJax_SVG_Display, .md-inline-math .MathJax_SVG_Display { width: auto; margin: inherit; display: inline-block !important; }
.MathJax_SVG .MJX-monospace { font-family: var(--monospace); }
.MathJax_SVG .MJX-sans-serif { font-family: sans-serif; }
.MathJax_SVG { display: inline; font-style: normal; font-weight: 400; line-height: normal; zoom: 90%; text-indent: 0px; text-align: left; text-transform: none; letter-spacing: normal; word-spacing: normal; overflow-wrap: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0px; min-height: 0px; border: 0px; padding: 0px; margin: 0px; }
.MathJax_SVG * { transition: none 0s ease 0s; }
.MathJax_SVG_Display svg { vertical-align: middle !important; margin-bottom: 0px !important; margin-top: 0px !important; }
.os-windows.monocolor-emoji .md-emoji { font-family: "Segoe UI Symbol", sans-serif; }
.md-diagram-panel > svg { max-width: 100%; }
[lang="flow"] svg, [lang="mermaid"] svg { max-width: 100%; height: auto; }
[lang="mermaid"] .node text { font-size: 1rem; }
table tr th { border-bottom: 0px; }
video { max-width: 100%; display: block; margin: 0px auto; }
iframe { max-width: 100%; width: 100%; border: none; }
.highlight td, .highlight tr { border: 0px; }
svg[id^="mermaidChart"] { line-height: 1em; }
mark { background: rgb(255, 255, 0); color: rgb(0, 0, 0); }
.md-html-inline .md-plain, .md-html-inline strong, mark .md-inline-math, mark strong { color: inherit; }
mark .md-meta { color: rgb(0, 0, 0); opacity: 0.3 !important; }


:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

html {
    font-size: 16px;
}

body {
    font-family: "Passenger Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

th, strong {
    font-weight: 600 !important;
}

#write {
    max-width: 860px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

input[type=checkbox]:checked + p {
    text-decoration: line-through;
}

a {
    color: #4183C4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.4;
    cursor: text;
    font-family: 'Zilla Slab', 'Roboto Slab', sans-serif;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 1.0;
}
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    margin-top: 2em;
    line-height: 1.0;
}
h3 {
    font-weight: 1.5em;
    margin-top: 0.5em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.0;
    margin-top: 1em;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
/*h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h2 {
   padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
h3 {
    font-size: 1.5em;
    line-height: 1.43;
}*/
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
    empty-cells: hide;
}
table tr {
    margin: 0;
    padding: 0;
}
table tr:last-child {
    border-bottom: 2px solid black;
}
table tr:nth-child(2n),
thead {
    background-color: none;
}
table tr th {
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 4px 10px 4px 0;
    vertical-align: bottom;
    line-height: 1.0;
}
table tr td {
    vertical-align: top;
    margin: 0;
    padding: 4px 10px 4px 0;
    line-height: 1.0;
    border-top: 1px solid black;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
    padding-left: 5px;
}
table tr th:last-child,
table tr td:last-child {
    padding-right: 5px;
}

.CodeMirror-lines {
    padding-left: 4px;
    font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
    font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
        font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
    }
    pre {
        word-wrap: break-word;
        font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
    }
}

.md-fences {
	background-color: #f8f8f8;
    font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
    font-family: "Calling Code", Consolas, 'DejaVu Sans Mono', 'Menlo', monospace;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
img {
    border: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(126, 142, 177, .42);
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Passenger Sans", "Arial", sans-serif;
    font-weight: 300;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}


</style>
</head>
<body class='typora-export' >
<div  id='write'  class = 'is-node'><h3><a name="technologies-covered-by-pqai-beta" class="md-header-anchor"></a><span>Technologies covered by PQAI (beta)</span></h3><p style="text-align:center">Table 1. List of technologies</p><figure><table><thead><tr><th><span>S.No.</span></th><th><span>CPC Subclass</span></th><th><span>Technology</span></th><th style='text-align:right;' ><span>No. of Patents</span></th></tr></thead><tbody><tr><td><span>1</span></td><td><span>G01B</span></td><td><span>Length measuring instruments</span></td><td style='text-align:right;' ><span>26007</span></td></tr><tr><td><span>2</span></td><td><span>G01C</span></td><td><span>Distance measuring devices</span></td><td style='text-align:right;' ><span>32998</span></td></tr><tr><td><span>3</span></td><td><span>G01D</span></td><td><span>Measurement devices</span></td><td style='text-align:right;' ><span>16920</span></td></tr><tr><td><span>4</span></td><td><span>G01F</span></td><td><span>Volume measuring devices</span></td><td style='text-align:right;' ><span>22909</span></td></tr><tr><td><span>5</span></td><td><span>G01G</span></td><td><span>Weight measuring devices</span></td><td style='text-align:right;' ><span>5981</span></td></tr><tr><td><span>6</span></td><td><span>G01H</span></td><td><span>Vibrometers</span></td><td style='text-align:right;' ><span>2941</span></td></tr><tr><td><span>7</span></td><td><span>G01J</span></td><td><span>Colorimeters, Pyrometers</span></td><td style='text-align:right;' ><span>19347</span></td></tr><tr><td><span>8</span></td><td><span>G01K</span></td><td><span>Thermometers</span></td><td style='text-align:right;' ><span>10096</span></td></tr><tr><td><span>9</span></td><td><span>G01L</span></td><td><span>Force sensors</span></td><td style='text-align:right;' ><span>17551</span></td></tr><tr><td><span>10</span></td><td><span>G01M</span></td><td><span>Structure testing instruments</span></td><td style='text-align:right;' ><span>16264</span></td></tr><tr><td><span>11</span></td><td><span>G01N</span></td><td><span>Material testing devices</span></td><td style='text-align:right;' ><span>191487</span></td></tr><tr><td><span>12</span></td><td><span>G01P</span></td><td><span>Speedometers</span></td><td style='text-align:right;' ><span>11523</span></td></tr><tr><td><span>13</span></td><td><span>G01Q</span></td><td><span>Scanning probe microscopes</span></td><td style='text-align:right;' ><span>2629</span></td></tr><tr><td><span>14</span></td><td><span>G01R</span></td><td><span>Electromagnetic sensors</span></td><td style='text-align:right;' ><span>87937</span></td></tr><tr><td><span>15</span></td><td><span>G01S</span></td><td><span>Radars/sonars</span></td><td style='text-align:right;' ><span>47580</span></td></tr><tr><td><span>16</span></td><td><span>G01T</span></td><td><span>Radiation sensors</span></td><td style='text-align:right;' ><span>11347</span></td></tr><tr><td><span>17</span></td><td><span>G01V</span></td><td><span>Geophysical sensors</span></td><td style='text-align:right;' ><span>24490</span></td></tr><tr><td><span>18</span></td><td><span>G01W</span></td><td><span>Meteorological sensors</span></td><td style='text-align:right;' ><span>1302</span></td></tr><tr><td><span>19</span></td><td><span>G02B</span></td><td><span>Optical devices</span></td><td style='text-align:right;' ><span>180329</span></td></tr><tr><td><span>20</span></td><td><span>G02C</span></td><td><span>Spectacles/contact lenses</span></td><td style='text-align:right;' ><span>12030</span></td></tr><tr><td><span>21</span></td><td><span>G02F</span></td><td><span>Active optical devices</span></td><td style='text-align:right;' ><span>78285</span></td></tr><tr><td><span>22</span></td><td><span>G03B</span></td><td><span>Cameras/projectors</span></td><td style='text-align:right;' ><span>34995</span></td></tr><tr><td><span>23</span></td><td><span>G03C</span></td><td><span>Photosensitive materials</span></td><td style='text-align:right;' ><span>12662</span></td></tr><tr><td><span>24</span></td><td><span>G03D</span></td><td><span>Exposed film treatment devices</span></td><td style='text-align:right;' ><span>2519</span></td></tr><tr><td><span>25</span></td><td><span>G03F</span></td><td><span>Photolithography</span></td><td style='text-align:right;' ><span>64850</span></td></tr><tr><td><span>26</span></td><td><span>G03G</span></td><td><span>Electrography/magnetography</span></td><td style='text-align:right;' ><span>101287</span></td></tr><tr><td><span>27</span></td><td><span>G03H</span></td><td><span>Holograms</span></td><td style='text-align:right;' ><span>3097</span></td></tr><tr><td><span>28</span></td><td><span>G04B</span></td><td><span>Clocks/watches</span></td><td style='text-align:right;' ><span>4463</span></td></tr><tr><td><span>29</span></td><td><span>G04C</span></td><td><span>Clocks/watches</span></td><td style='text-align:right;' ><span>1684</span></td></tr><tr><td><span>30</span></td><td><span>G04F</span></td><td><span>Timers</span></td><td style='text-align:right;' ><span>1915</span></td></tr><tr><td><span>31</span></td><td><span>G04G</span></td><td><span>Electronic timers</span></td><td style='text-align:right;' ><span>3044</span></td></tr><tr><td><span>32</span></td><td><span>G04R</span></td><td><span>Radio-controlled timers</span></td><td style='text-align:right;' ><span>783</span></td></tr><tr><td><span>33</span></td><td><span>G05B</span></td><td><span>Control devices</span></td><td style='text-align:right;' ><span>30972</span></td></tr><tr><td><span>34</span></td><td><span>G05D</span></td><td><span>Mechanical controllers</span></td><td style='text-align:right;' ><span>18225</span></td></tr><tr><td><span>35</span></td><td><span>G05F</span></td><td><span>Electromagnetic controllers</span></td><td style='text-align:right;' ><span>11645</span></td></tr><tr><td><span>36</span></td><td><span>G05G</span></td><td><span>Control devices</span></td><td style='text-align:right;' ><span>3291</span></td></tr><tr><td><span>37</span></td><td><span>G06F</span></td><td><span>Computers</span></td><td style='text-align:right;' ><span>821050</span></td></tr><tr><td><span>38</span></td><td><span>G06G</span></td><td><span>Analog computers</span></td><td style='text-align:right;' ><span>987</span></td></tr><tr><td><span>39</span></td><td><span>G06K</span></td><td><span>Data processing</span></td><td style='text-align:right;' ><span>95104</span></td></tr><tr><td><span>40</span></td><td><span>G06N</span></td><td><span>Unconventional computers</span></td><td style='text-align:right;' ><span>17057</span></td></tr><tr><td><span>41</span></td><td><span>G06Q</span></td><td><span>Special-purpose computing</span></td><td style='text-align:right;' ><span>244383</span></td></tr><tr><td><span>42</span></td><td><span>G06T</span></td><td><span>Image processing</span></td><td style='text-align:right;' ><span>90936</span></td></tr><tr><td><span>43</span></td><td><span>G07B</span></td><td><span>Ticketing systems</span></td><td style='text-align:right;' ><span>3948</span></td></tr><tr><td><span>44</span></td><td><span>G07C</span></td><td><span>Time registers</span></td><td style='text-align:right;' ><span>16970</span></td></tr><tr><td><span>45</span></td><td><span>G07D</span></td><td><span>Bills/coins handling machines</span></td><td style='text-align:right;' ><span>6457</span></td></tr><tr><td><span>46</span></td><td><span>G07F</span></td><td><span>Coin-freed machines</span></td><td style='text-align:right;' ><span>48835</span></td></tr><tr><td><span>47</span></td><td><span>G07G</span></td><td><span>Cash registers</span></td><td style='text-align:right;' ><span>1684</span></td></tr><tr><td><span>48</span></td><td><span>G08B</span></td><td><span>Alarm/signalling system</span></td><td style='text-align:right;' ><span>26285</span></td></tr><tr><td><span>49</span></td><td><span>G08C</span></td><td><span>Telemetry</span></td><td style='text-align:right;' ><span>5218</span></td></tr><tr><td><span>50</span></td><td><span>G08G</span></td><td><span>Traffic control</span></td><td style='text-align:right;' ><span>16926</span></td></tr><tr><td><span>51</span></td><td><span>G09B</span></td><td><span>Education apparatus</span></td><td style='text-align:right;' ><span>20322</span></td></tr><tr><td><span>52</span></td><td><span>G09C</span></td><td><span>Cryptography</span></td><td style='text-align:right;' ><span>299</span></td></tr><tr><td><span>53</span></td><td><span>G09F</span></td><td><span>Display signs</span></td><td style='text-align:right;' ><span>19214</span></td></tr><tr><td><span>54</span></td><td><span>G09G</span></td><td><span>Display signs</span></td><td style='text-align:right;' ><span>73379</span></td></tr><tr><td><span>55</span></td><td><span>G10C</span></td><td><span>Musical instruments with keyboards</span></td><td style='text-align:right;' ><span>845</span></td></tr><tr><td><span>56</span></td><td><span>G10D</span></td><td><span>String-based musical instruments</span></td><td style='text-align:right;' ><span>7111</span></td></tr><tr><td><span>57</span></td><td><span>G10G</span></td><td><span>Musical aids</span></td><td style='text-align:right;' ><span>1574</span></td></tr><tr><td><span>58</span></td><td><span>G10H</span></td><td><span>Electrophonic musical instruments</span></td><td style='text-align:right;' ><span>10537</span></td></tr><tr><td><span>59</span></td><td><span>G10K</span></td><td><span>Speakers</span></td><td style='text-align:right;' ><span>7038</span></td></tr><tr><td><span>60</span></td><td><span>G10L</span></td><td><span>Speech processing</span></td><td style='text-align:right;' ><span>38442</span></td></tr><tr><td><span>61</span></td><td><span>G11B</span></td><td><span>Data storage disks</span></td><td style='text-align:right;' ><span>152926</span></td></tr><tr><td><span>62</span></td><td><span>G11C</span></td><td><span>Solid state memory devices</span></td><td style='text-align:right;' ><span>116216</span></td></tr><tr><td><span>63</span></td><td><span>G16H</span></td><td><span>Healthcare informatics</span></td><td style='text-align:right;' ><span>4406</span></td></tr><tr><td><span>64</span></td><td><span>G21B</span></td><td><span>Fusion reactors</span></td><td style='text-align:right;' ><span>675</span></td></tr><tr><td><span>65</span></td><td><span>G21C</span></td><td><span>Nuclear reactors</span></td><td style='text-align:right;' ><span>8327</span></td></tr><tr><td><span>66</span></td><td><span>G21D</span></td><td><span>Nuclear power plants</span></td><td style='text-align:right;' ><span>574</span></td></tr><tr><td><span>67</span></td><td><span>G21F</span></td><td><span>Radiation shielding</span></td><td style='text-align:right;' ><span>3236</span></td></tr><tr><td><span>68</span></td><td><span>G21G</span></td><td><span>Isotope production</span></td><td style='text-align:right;' ><span>759</span></td></tr><tr><td><span>69</span></td><td><span>G21K</span></td><td><span>Radiation handling devices</span></td><td style='text-align:right;' ><span>3688</span></td></tr><tr><td><span>70</span></td><td><span>H01B</span></td><td><span>Electric cables</span></td><td style='text-align:right;' ><span>14858</span></td></tr><tr><td><span>71</span></td><td><span>H01C</span></td><td><span>Electric resistors</span></td><td style='text-align:right;' ><span>4744</span></td></tr><tr><td><span>72</span></td><td><span>H01F</span></td><td><span>Magnetic devices</span></td><td style='text-align:right;' ><span>24137</span></td></tr><tr><td><span>73</span></td><td><span>H01G</span></td><td><span>Capacitors</span></td><td style='text-align:right;' ><span>17706</span></td></tr><tr><td><span>74</span></td><td><span>H01H</span></td><td><span>Electric switches</span></td><td style='text-align:right;' ><span>38406</span></td></tr><tr><td><span>75</span></td><td><span>H01J</span></td><td><span>Discharge tubes/lamps</span></td><td style='text-align:right;' ><span>74643</span></td></tr><tr><td><span>76</span></td><td><span>H01K</span></td><td><span>Electric incandescent lamps</span></td><td style='text-align:right;' ><span>1470</span></td></tr><tr><td><span>77</span></td><td><span>H01L</span></td><td><span>Semiconductor devices</span></td><td style='text-align:right;' ><span>638536</span></td></tr><tr><td><span>78</span></td><td><span>H01M</span></td><td><span>Batteries</span></td><td style='text-align:right;' ><span>102992</span></td></tr><tr><td><span>79</span></td><td><span>H01P</span></td><td><span>Optical fibers</span></td><td style='text-align:right;' ><span>12289</span></td></tr><tr><td><span>80</span></td><td><span>H01Q</span></td><td><span>Antennas</span></td><td style='text-align:right;' ><span>47010</span></td></tr><tr><td><span>81</span></td><td><span>H01R</span></td><td><span>Circuit boards</span></td><td style='text-align:right;' ><span>87225</span></td></tr><tr><td><span>82</span></td><td><span>H01S</span></td><td><span>Lasers</span></td><td style='text-align:right;' ><span>30667</span></td></tr><tr><td><span>83</span></td><td><span>H01T</span></td><td><span>Spark plugs</span></td><td style='text-align:right;' ><span>5029</span></td></tr><tr><td><span>84</span></td><td><span>H02B</span></td><td><span>Electric substations</span></td><td style='text-align:right;' ><span>3774</span></td></tr><tr><td><span>85</span></td><td><span>H02G</span></td><td><span>Electric cable installation</span></td><td style='text-align:right;' ><span>16732</span></td></tr><tr><td><span>86</span></td><td><span>H02H</span></td><td><span>Circuit breakers</span></td><td style='text-align:right;' ><span>12221</span></td></tr><tr><td><span>87</span></td><td><span>H02J</span></td><td><span>Electric grids</span></td><td style='text-align:right;' ><span>46535</span></td></tr><tr><td><span>88</span></td><td><span>H02K</span></td><td><span>Motors/generators</span></td><td style='text-align:right;' ><span>48094</span></td></tr><tr><td><span>89</span></td><td><span>H02M</span></td><td><span>Electric conversion devices</span></td><td style='text-align:right;' ><span>45915</span></td></tr><tr><td><span>90</span></td><td><span>H02N</span></td><td><span>Special electric machines</span></td><td style='text-align:right;' ><span>5554</span></td></tr><tr><td><span>91</span></td><td><span>H02P</span></td><td><span>Electric machine controllers</span></td><td style='text-align:right;' ><span>20205</span></td></tr><tr><td><span>92</span></td><td><span>H02S</span></td><td><span>Solar cells</span></td><td style='text-align:right;' ><span>5531</span></td></tr><tr><td><span>93</span></td><td><span>H03B</span></td><td><span>Oscillators</span></td><td style='text-align:right;' ><span>5219</span></td></tr><tr><td><span>94</span></td><td><span>H03C</span></td><td><span>Modulators</span></td><td style='text-align:right;' ><span>1130</span></td></tr><tr><td><span>95</span></td><td><span>H03D</span></td><td><span>Demodulators</span></td><td style='text-align:right;' ><span>5158</span></td></tr><tr><td><span>96</span></td><td><span>H03F</span></td><td><span>Amplifiers</span></td><td style='text-align:right;' ><span>31334</span></td></tr><tr><td><span>97</span></td><td><span>H03G</span></td><td><span>Amplification controllers</span></td><td style='text-align:right;' ><span>9001</span></td></tr><tr><td><span>98</span></td><td><span>H03H</span></td><td><span>Resonators</span></td><td style='text-align:right;' ><span>20211</span></td></tr><tr><td><span>99</span></td><td><span>H03J</span></td><td><span>Resonating circuit tuning</span></td><td style='text-align:right;' ><span>2058</span></td></tr><tr><td><span>100</span></td><td><span>H03K</span></td><td><span>Pulse modulation devices</span></td><td style='text-align:right;' ><span>51805</span></td></tr><tr><td><span>101</span></td><td><span>H03L</span></td><td><span>Waveform generators</span></td><td style='text-align:right;' ><span>17415</span></td></tr><tr><td><span>102</span></td><td><span>H03M</span></td><td><span>Signal encoders/decoders</span></td><td style='text-align:right;' ><span>30704</span></td></tr><tr><td><span>103</span></td><td><span>H04B</span></td><td><span>Signal transmission</span></td><td style='text-align:right;' ><span>103651</span></td></tr><tr><td><span>104</span></td><td><span>H04H</span></td><td><span>Broadcast communication</span></td><td style='text-align:right;' ><span>6404</span></td></tr><tr><td><span>105</span></td><td><span>H04J</span></td><td><span>Multiplex communication</span></td><td style='text-align:right;' ><span>18232</span></td></tr><tr><td><span>106</span></td><td><span>H04K</span></td><td><span>Secret communication</span></td><td style='text-align:right;' ><span>1219</span></td></tr><tr><td><span>107</span></td><td><span>H04L</span></td><td><span>Digital data communication</span></td><td style='text-align:right;' ><span>452418</span></td></tr><tr><td><span>108</span></td><td><span>H04M</span></td><td><span>Telephones</span></td><td style='text-align:right;' ><span>78465</span></td></tr><tr><td><span>109</span></td><td><span>H04N</span></td><td><span>Television</span></td><td style='text-align:right;' ><span>340872</span></td></tr><tr><td><span>110</span></td><td><span>H04Q</span></td><td><span>Communication relays</span></td><td style='text-align:right;' ><span>21248</span></td></tr><tr><td><span>111</span></td><td><span>H04R</span></td><td><span>Speakers/microphones</span></td><td style='text-align:right;' ><span>42663</span></td></tr><tr><td><span>112</span></td><td><span>H04S</span></td><td><span>Stereophonic systems</span></td><td style='text-align:right;' ><span>4474</span></td></tr><tr><td><span>113</span></td><td><span>H04W</span></td><td><span>Wireless communication</span></td><td style='text-align:right;' ><span>218561</span></td></tr><tr><td><span>114</span></td><td><span>H05B</span></td><td><span>Electric heaters</span></td><td style='text-align:right;' ><span>51173</span></td></tr><tr><td><span>115</span></td><td><span>H05F</span></td><td><span>Electrostatic machines</span></td><td style='text-align:right;' ><span>575</span></td></tr><tr><td><span>116</span></td><td><span>H05G</span></td><td><span>X-ray machines</span></td><td style='text-align:right;' ><span>2954</span></td></tr><tr><td><span>117</span></td><td><span>H05H</span></td><td><span>Devices using plasma</span></td><td style='text-align:right;' ><span>5716</span></td></tr><tr><td><span>118</span></td><td><span>H05K</span></td><td><span>Printed circuit boards</span></td><td style='text-align:right;' ><span>76146</span></td></tr><tr><td><span>119</span></td><td><span>Y02A</span></td><td><span>Sustainable technology</span></td><td style='text-align:right;' ><span>3938</span></td></tr><tr><td><span>120</span></td><td><span>Y02B</span></td><td><span>Sustainable buildings</span></td><td style='text-align:right;' ><span>2417</span></td></tr><tr><td><span>121</span></td><td><span>Y02D</span></td><td><span>Sustainable information technology</span></td><td style='text-align:right;' ><span>5500</span></td></tr><tr><td><span>122</span></td><td><span>Y02E</span></td><td><span>Sustainable energy production</span></td><td style='text-align:right;' ><span>6545</span></td></tr><tr><td><span>123</span></td><td><span>Y02P</span></td><td><span>Sustainable manufacturing</span></td><td style='text-align:right;' ><span>6401</span></td></tr><tr><td><span>124</span></td><td><span>Y02T</span></td><td><span>Sustainable transportation</span></td><td style='text-align:right;' ><span>4874</span></td></tr><tr><td><span>125</span></td><td><span>Y02W</span></td><td><span>Wastewater treatment</span></td><td style='text-align:right;' ><span>862</span></td></tr><tr><td><span>126</span></td><td><span>Y04S</span></td><td><span>Smart grids</span></td><td style='text-align:right;' ><span>484</span></td></tr></tbody></table></figure></div>
</body>
</html>